@import '../../styles/variables';

.button {
  position: fixed;
  padding: 10px 15px;
  bottom: 20px;
  background-color: $c-American-Yellow;
  right: 20px;
  z-index: 50;
  font-size: 10px;
  color: $c-white;
  border: none;
  display: none;
  // pointer-events: none;
}
.showBtn{
  display: block;
}