// COLORS
$c-black: #000000;
$c-Grape: #6425CB;
$c-Grape-lite: #5B25B3;
$c-American-Yellow: #F4AB00;
$c-Raisin-Black: #232425;
$c-Russian-Violet: #2C1258;
$c-Cyber-Grape: #604B83;
$c-Magnolia: #F6F1FF;
$c-Blue-Violet: #421B81;
$c-Deep-Carrot-Orange: #ED6436;
$c-Fire-Opal: #EB5757;
$c-Gainsboro: #DFDFDF;
$c-white: #FFFFFF;


// Font
$f-Nunito: 'Nunito', sans-serif;



// Font size
$fs-base: 16;
$fs-h1: 60;
$fs-h2: 42;
$fs-subtitle: 20;
$fs-text-input-button: 14px;
$fs-text: 18;

// Letter spacing
$ls-base: 2;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
