@import '../../styles/variables';
@import '../../styles/media';

.CartBlock{
  display: flex;
  align-items: center;
  position: relative;
}

.totalPrice{
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
}

.icon{
  cursor: pointer;
  position: relative;
}