@import '../../styles/variables';
@import '../../styles/media';

.GameItem{
  text-decoration: none;
  color: $c-white;
  width: 320px;
  height: 300px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  &:not(:last-child){
    margin-bottom: 30px;
    margin-right: 50px;
  }


}


.title{
  font-size: 18px;
  font-weight: 700;
}

.genre{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.details{
  padding: 10px 20px;

}

.description{
  margin-top: 10px;
  font-size: 14px;
}

.buy{
  position: absolute;
  right: 0;
  bottom: -12px;
}