@import '../../styles/variables';
@import '../../styles/media';
.banner {
  background-image: url('../../assets/img/localimg/IMAGE.png');
  background-position: center center;
  background-size: cover;
  position: relative;
}
.wrapper {
  padding-top: 150px;
  min-height: 100vh;
  padding-bottom: 240px;
  
}
.content {
  justify-content: space-between;
  margin-top: 70px;
  display: flex;
  @include media("<=desktop") {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
  }
}
.info{
  margin-right: 120px;
  max-width: 415px;
  margin-top: 30px;
  @include media("<=desktop") {
    margin-right: 0px;
    max-width: 1120px;
    margin-top: 0px;
    
  }
  @include media("<=phone") {
    margin-bottom: 20px;
  }
}
.title {
  font-size: $fs-h1 + px;
  margin-bottom: 40px;
  font-weight: 400;
  color: $c-white;
  
  @include media("<=desktop") {
    font-size: 56px;
    margin-bottom: 20px;
    
  }
  @include media("<=tablet") {
    text-align: center;
  }
  @include media("<=phone") {
    font-size: 36px;
  }
}
.infoBlock{
  @include media("<=desktop") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  @include media("<=phone") {
    flex-direction: column;
  }
}
.text {
  font-size: $fs-text + px;
  margin-bottom: 24px;
  line-height: 34px;
  max-width: 410px;
  color: $c-white;
  @include media("<=desktop") {
    font-size: $fs-text + px;
    margin-bottom: 24px;
    line-height: 34px;
    max-width: 700px;
    
  }
}